.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


a{
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 660px) {  
  .landing-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    height: 100vh;
  }
  
  .top-buttons, .bottom-buttons{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  .button-container{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {  
  .landing-container{
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
  }
  
  .banner-container{
    height: 400px;
    width: 400px;
  }

  .button-container{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 440px;
    align-items: center;
  }

  .top-buttons{
    display: flex;
    gap: 50px;
    align-items: center;
  }
  
  .bottom-buttons{
    display: flex;
    gap: 50px;
    align-items: center;
  }
  
  
}