.tech-used-container{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(21, 21, 21);
  height: auto;
  padding-bottom: 20px;
  font-size: 40px;
}

.tech-used-images{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  gap:50px 200px;
  align-items: center;
  justify-content: center;
}

.tech-img{
  width: 100px;
  height: 100px;
  fill-opacity: white;
}

.tech-element{
  text-align: center;
  font-size: 23px;
}

@media only screen and (max-width: 1000px) {  
  .tech-used-images{
    width:auto;
    margin: 0 10px;
    gap: 40px;
  }
  .footer{
    display: flex;
    justify-content: end;
  }

}