.project-img{
  width: 350px;
  height: 250px;
  border: 1px solid lightgray;
}

.card-container{
  width: 100vw;
  overflow-x: hidden;
}
.card{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 200px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-desc{
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 22px;
}
.title-image{
  font-size: 30px;
}

.tech-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:30px;
  width: 400px;
  list-style: none;
}

.even{
  background-color: rgb(31, 31, 31);
  flex-direction: row-reverse;
  color: white;
  margin: 15px;
}

.projects-buttons{
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 191, 255);
  font-size: 20px;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 12px;
}
.card-buttons{
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.projects-buttons:hover{
  background-color: rgb(36, 125, 154);
}


@media only screen and (max-width: 1200px) { 
  .card{
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    overflow-x: hidden;
  }
  .card-desc{
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
}