.project-img{
  width: 200px;
}

.card-container{
  width: 100vw;
}
.card{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
}
.card-desc{
  display: flex;
  flex-direction: column;
  width: 500px;
}


.even{
  background-color: rgb(31, 31, 31);
  flex-direction: row-reverse;
  color: white;
  margin: 15px;
}