.nav-title{
  font-weight: 100;
  color: white;
  margin:0;
  padding: 1rem;
  display: flex;
}

.nav-bar{
  background-color: var(--nav-background-color);
  margin: 0;
  padding: 0 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.centered{
align-items: center;
justify-content: center;
}
