.footer-container{
  background-color: var(--nav-background-color);
  margin: 0;
  padding: 0 10px;
  height: 30px;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
  font-family: 'Stick No Bills', sans-serif;
  font-size: 12px;
}

