:root{
  --nav-background-color: #003049;
  --button-background-color: #5AA9E6;
}

html{
  margin: 0;
  padding: 0;
}


.App{
  margin: 0;
  padding:0;
  min-width: 300px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}

body{
  font-family: 'Stick No Bills', sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}



@media only screen and (min-width: 800px) {  
  .App{
    justify-content: space-between;
  }
  .footer{
    display: flex;
    justify-content: end;
  }

}