.profile-image{
  width: 200px;
}

.about-container > h2{
  font-size: 32px;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.about-me-paragraph{
  min-width: 250px;
  text-align: center;
  font-size: 22px;
}


@media only screen and (min-width: 800px) {  
  .about-container{
    height: 100vh;
  }
  .about-me-paragraph{
    width: 800px;
  }
}