.profile-image{
  width: 200px;
}

.about-me-title{
  font-size: 60px;
  margin-top: 60px;
}

.about-container{
  display: flex;
  align-items: center;
  margin: 20px;
  margin-top: 0;
  max-width: 2000px;
  justify-content: space-evenly;
  height: 60vh;
  gap: 200px;
}

.about-me-paragraph{
  width: 800px;
  text-align: center;
  font-size: 30px;
}

.profile-image{
  width: 400px;
  border-radius: 50%;
  border: 3px solid rgb(3, 125, 255);
}


@media only screen and (max-width: 1200px) {  
  .about-container{
    height: fit-content;
    gap: 0;
    flex-direction: column;
  }
  .profile-image{
    width: 200px;
  }
  .about-me-paragraph{
    width: auto;
  }
}